{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="stylesheet" href="{% static '/cv_builder/cv.css' %}">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="left">
            <div class="title_name">
                Adrien DIDOT
            </div>
            <div class="title_description">
                Etudiant Ingénieur en Informatique,
                spécialisé en Intelligence Artificielle (Bac +5)
                A la recherche d’une alternance en Data Science
                d’une durée de 12 mois à partir de Septembre 2022.
            </div>
        </div>
        <div class="right">
            <div class="photo">
                <img src="{% static '/cv_builder/adriendidot.jpg' %}" alt="", width="100">
            </div>
        </div>
    </div>
    <div class="main_content">
        <div class="left">
            <div class="section">
                <div class="title">
                    Expérience professionnelle
                </div>
                <div class="part">
                    <div class="date_location">
                        Depuis 2021<br>
                        Paris
                    </div>
                    <div class="part_main">
                        <div class="part_title">
                            Développeur web Freelance
                        </div>
                        <div class="part_sub_title">
                            adridot
                        </div>
                        <div class="part_body">
                            Différentes missions en développement web.<br>
                            Gain d’expérience pour les technologies utilisées.<br>
                            Découverte de la vie professionnelle d'entreprenariat, avec
                            des dates limites, ainsi que la gestion d’une petite entreprise.
                        </div>
                        <div class="part_elements">
                            <div class="elements_title">
                                Technologies :
                            </div>
                            <div class="elements_body">
                                HTML/CSS/JS, Symfony, Bootstrap, Wordpress
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="section">
                <div class="title">
                    Expérience professionnelle
                </div>
                <div class="part">
                    37 rue Rémy Dumoncel <br>
                    77210, Avon <br>
                    +33 6 68 40 87 71 <br>
                    adrien.didot@gmail.com <br>
                    <br>
                    LinkedIn: @adriendidot <br>
                    <br>
                    22/06/2000 (21 ans) <br>
                    Permis B <br>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>